body{
  justify-content: center;
  min-height: 100vh;
  background: url(../assets/pexels-flickr-146083.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.places {
    padding: 2em;
    text-align: center;
}

.section_title {
    font-size: 2em;
    margin-bottom: 1em;
    color: #073961
}

.place-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 1em;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-10px);
}

.card-img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-content {
    padding: 1em;
}

.card-title {
    font-size: 1.5em;
    margin: 0.5em 0;
    color: #073961;
}

.card-description {
    font-size: 1em;
    color: #666;
    margin-bottom: 1em;
}

.btn {
    background-color: #008080;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: #005959;
}


/* Booking page styles */
.booking-page {
  background: transparent;
    max-width: 600px;
    margin: 2em auto;
    padding: 2em;
    border-radius: 10px;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
    text-align: left;
}

.booking-page h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    color: #cf7b13;
}

.booking-page p {
    font-size: 1em;
    color: #073961;
    margin-bottom: 1.5em;
}

.booking-form {
    display: flex;
    flex-direction: column;
}

.booking-form label {
    font-size: 1em;
    margin-bottom: 0.5em;
    color: #fff;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

.booking-form button {
    align-self: flex-start;
}

.back-btn {
    background-color: rgb(223, 130, 24);
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1em;
}

.back-btn:hover {
    background-color: #aaa;
}

.intaSendPayButton {
  display: inline-block;
    margin: 8px;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: rgb(223, 130, 24);
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
}

/* FOOTER */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

.footer {
  background-color: #073961;
  padding: 80px 0;
}

.container {
  max-width: 1170px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #FFF;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e78f22;
  width: 50px;
  height: 2px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #DDD;
  display: block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #FFF;
  padding-left: 7px;
}

.footer-col .social-links a {
  color: #FFF;
  background-color: rgba(255, 255, 255, 0.2);
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  margin: 0 10px 10px 0;
  line-height: 40px;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #151515;
  background-color: #FFF;
}

@media(max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}